body {
  margin: 0 auto;
  max-width: 1200px;
}

.mainIndex {
  background-color: rgb(236, 229, 200);
}

.transactionsShow {
  background-color: rgb(180, 151, 194);
}

.transactionsNew {
  background-color: rgb(156, 204, 147);
}

.vendorsIndex {
  background-color: rgb(233, 194, 224);
}

.vendorsNew {
  background-color: rgb(100, 158, 252);
}

.vendorsShow {
  background-color: rgb(161, 199, 224);
}