@{
  Layout = "_Layout";
}
<div class="container mainIndex">
<h1>Welcome Pierre. How are you sleeping?</h1>
<h2><a href='/vendors'>See your vendors</a></h2>
<h2><a href='/vendors/new'>Add a new vendor</a></h2>
<h3><a href=#>Pay your bookie</a></h3>
</div>