@{
  Layout = "_Layout";
}

<h1>Welcome Pierre. How are you sleeping?</h1>
<h2><a href='/vendors'>See your vendors</a></h2>
<h2><a href='/vendors'>Add a new vendor</a></h2>
<h3><a href='/vendors'>Pay your bookie</a></h3>