@{
  Layout = "_Layout";
}

@using Bakery.Models;

<h3>vendor log:</h3>

<ol>
  @foreach (Transaction transaction in @Model["transactions"])
  {
    <li><a href="/vendors/@Model["vendor"].Id/transactions/@transaction.Id">@transaction.Description</a></li>
  }
</ol>

<p><a href="/vendors/@Model["vendor"].Id/transactions/new">add transaction</a></p>
<p><a href="/vendors">return to vendor list</a></p>
<p><a href="/">home</a></p>