@{
  Layout = "_Layout";
}

<h1>Record new transaction for @Model.Name</h1>

<form action="/vendors/@Model.Id/transactions" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="transactionDescription">transaction notes</label>
  <input id="transactionDescription" name="transactionDescription" type="text">
  <button type="submit">Add</button>
</form>