<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body background="https://coding-assets.s3-us-west-2.amazonaws.com/img/PierresBakery-bg.png">
    
    @RenderSection("mainIndex", required: false)  
    <section class="mainIndex"></section>

    @RenderSection("transactionAddForm", required: false)  
    <section class="transactionAddForm"></section>

    @RenderSection("vendorAddForm", required: false)  
    <section class="vendorAddForm"></section>

    @RenderBody()
    
  </body>
</html>